# PyCharm
.idea/

# Python
__pycache__/

# Vagrant directory
.vagrant

# OSX stuff
.DS_Store
._*
.Trashes

# Windows stuff
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Virtual environment
/venv/

# Logs
logs/*
!/logs/.gitkeep

# Static root
/static/static_root/*
!/static/static_root/.gitkeep

# Media files
static/media/*
!static/media/.gitkeep

# Settings file
system/settings.py

# SaltStack
/salt/pillar/config.sls
/salt/salt/nginx/conf/nginx.conf